@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Epilogue";
  color: #2d2d2d;
   overflow-x: hidden;
    margin: 0;
  padding: 0;
  height:100%;
  
}
* {
  outline: none;
}
section {
  @apply px-7 md:px-24;
  /* @apply mb-12; */
  /* @apply min-h-[34rem]; */
}
